@charset "UTF-8";
.backLeft {
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
    background: #0751A0;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvas-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#slideBox {
    width: 40%;
    max-height: 100%;
    height: 100%;
    margin-left: 60%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

label {
    font-size: 0.8em;
    text-transform: uppercase;
}

input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1em;
    padding: 8px 1px;
    margin-top: 0.1em;
}

.right {
    width: 50%;
    height: 100%;
    background: #f9f9f9;
    right: 0;
    z-index: 2;
    position: absolute;
}

.right label {
    color: #212121;
}

.right input:focus, .right input:active {
    color: #0751A0;
}

.right input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
    -webkit-text-fill-color: #212121;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.content h2 {
    font-weight: 300;
    font-size: 2.6em;
    margin: 0.2em 0 0.1em;
}

.right .content h2 {
    color: #0751A0;
}

.form-element {
    margin: 1.6em 0;
}

.form-element.form-submit {
    margin: 1.6em 0 0;
}

.form-stack {
    display: flex;
    flex-direction: column;
}

button {
    padding: 0.8em 1.2em;
    margin: 0 10px 0 0;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.6px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;
}

button.signup {
    background: #0751A0;
}

button.login {
    background: #0751A0;
}

button.off {
    background: none;
    box-shadow: none;
    margin: 0;
}

button.off.signup {
    color: #0751A0;
}

button.off.login {
    color: #0751A0;
}

button:focus, button:active, button:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

button:focus.signup, button:active.signup, button:hover.signup {
    background: #0751A0;
}

button:focus.login, button:active.login, button:hover.login {
    background: #0288D1;
}

button:focus.off, button:active.off, button:hover.off {
    box-shadow: none;
}

button:focus.off.signup, button:active.off.signup, button:hover.off.signup {
    color: #0751A0;
    background: #e3e3e3;
}

button:focus.off.login, button:active.off.login, button:hover.off.login {
    color: #0751A0;
    background: #e3e3e3;
}

@media only screen and (max-width: 768px) {
    #slideBox {
        width: 80%;
        margin-left: 20%;
    }
    .login-info {
        display: none;
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #0751A0 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #0751A0 !important;
    ;
}